<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">
<!-- TODO: tabs-striped add this class and style it differently later on-->

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- Album Tab -->
  <ion-tab title="Album" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/album">
    <ion-nav-view name="tab-album"></ion-nav-view>
  </ion-tab>

  <!-- Inbox Tab -->
  <ion-tab title="Inbox" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" href="#/tab/inbox">
    <ion-nav-view name="tab-inbox"></ion-nav-view>
  </ion-tab>

  <!-- Camera Tab -->
  <ion-tab title="Camera" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/review" ng-click="vm.takePicture()">
  </ion-tab>

</ion-tabs>


