<ion-tabs class="tabs-striped ink">

  <!-- Album Tab -->
  <ion-tab title="Album" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/album">
    <ion-nav-view name="tab-album"></ion-nav-view>
  </ion-tab>

  <!-- Camera Tab -->
  <!-- <ion&#45;tab title="Camera" icon&#45;off="ion&#45;ios&#45;camera&#45;outline" icon&#45;on="ion&#45;ios&#45;camera" ng&#45;click="vm.takePhoto()"> -->
  <!--   <ion&#45;nav&#45;view name="tab&#45;camera"></ion&#45;nav&#45;view> -->
  <!-- </ion&#45;tab> -->

  <!-- Inbox Tab -->
  <ion-tab title="Inbox" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" href="#/tab/inbox">
    <ion-nav-view name="tab-inbox"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>

<!-- <button class="button button&#45;fab&#45;bottom&#45;right button&#45;positive icon ion&#45;ios&#45;camera" ng&#45;click"vm.takePhoto()"></button> -->

