/* Empty. Add your own CSS if you like */
* {
  font-family: Avenir-Book, RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #FFF;
  font-weight: 500;
  font-family: Avenir-Book, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  line-height: 1.2;
}
/*.login {
    background: url('../img/berkeley.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 2;
    position: relative;
}*/

div.row {
  justify-content: center;
}

div.col.ripplecard {
  padding: 0;
  margin: 0;
}

div.row.ripplecard {
  padding: 0;
  margin: 5px 0;
  background-color: rgba(255,255,255,.1);
}

div.row.ripplecardinfo {
  overflow:hidden;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items:flex-end;
  align-content: stretch;
  height:100%;
}

div.ripplecardinfobuttons {
  position:absolute;
  bottom:0;
  right:0;
}

button.button.button-clear {
  color: white;
}

.item {
  border: none;
}

.item-input {
  padding: 0;
}

ion-header-bar.flat.bar.bar-header {
  background-color: rgba(255,255,255,.1);
}
ion-item.item {
  padding:0;
  margin:0;
}

div.tab-nav.tabs {
  background-color: rgba(255,255,255,.15);
}

.item p {
  color: #FFF;
  font-size: 14px;
  margin-bottom: 2px;
}


.bar-header {
  top: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
  background-color: transparent;
  color: white;
  opacity: .8;
}
.tabs-striped .tabs {
  background-color: transparent;
  border-bottom: 0px;
  padding-top: 2px;
  opacity: .8;
  color: white;
}
.tabs-striped .tab-item.tab-item-active,
.tabs-striped .tab-item.active,
.tabs-striped .tab-item.activated {
  margin-top: -2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-width: 1px 0 0 0;
  /* border-color: #444; */
}
/* Enter name: */

.popup-buttons .button .ripple {
  margin-right: 0px;
  border-color: #FFFFFF;
  background-color: #5D6167;
  color: #fff;
  border-radius: 50px;
  opacity: .8;
}
.popup-container .popup {
    width: 250px;
    max-width: 100%;
    max-height: 90%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; 
  }
.popup-container.active .popup {
  -webkit-animation-name: superScaleIn;
  animation-name: superScaleIn;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /* opacity: .5; */
  background-color: rgba(252, 252, 252, 0.7);
  /* background-color: #DDD; */
  border-radius: 10px;
  text-align: center;
}
.login .item {
  border-bottom: 1px solid white;
}
.item-stacked-label .input-label,
.item-stacked-label .icon {
  display: inline-block;
  padding: 4px 0 0 0px;
  vertical-align: middle;
  font-family: Avenir-Book;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: 4px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border: 0;
  font-family: Avenir-Book;
  font-size: 14px;
  color: #FFFFFF;
 /* letter-spacing: 4px;*/
  line-height: 20px;
}
.row {
  display: flex;
  padding: 0px;
  width: 100%;
}
.padding > .button.button-block:first-child {
  opacity: .8;
  /* bg: */
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  /* Sign In: */
  font-family: Avenir-Book;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 28px;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.padding > .button.button-block.facebook {
  border: 0px;
  opacity: .8;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
.bar.bar-clear .title {
  color: #fff;
  text-decoration: none;
}

  /* SIGN UP: */
.bar.bar-clear .title span.signup {
  display: inline;
  color: #fff;
  font-family: Avenir-Book;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 10px;
  text-decoration: none;
}
  /* DON’T HAVE AN ACCOUN: */
.bar.bar-clear .title span.account {
  display: inline;
  opacity: 0.5;
  font-family: Avenir-Book;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 10px;
  text-decoration: none;
}

.emptyInbox {
  position: absolute;
  height: 50px;
  width: 300px;
  top: 25%;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  color: #FFFFFF;
}
/* Sketch doesnt export gradient borders at this point */

/* oval: */

/* border: 2px solid #FFFFFF; */

/* shape: */

/* border: 2px solid #FFFFFF; */

/* path: */

/* border: 2px solid #FFFFFF; */

/* bounds: */

/* bg: */

.sign-in {
  opacity: 0.5;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
}
/* Sign In: */

.sign-in-text {
  font-family: Avenir-Book;
  font-size: 28px;
  color: #FFFFFF;
  line-height: 28px;
}
.ion-ios-person-outline:before {
  content: "\f47d";
  border-radius: 50%;
  border: 1px;
  border-color: white;
}
.hero.no-header {
  height: 200px;
}
.hero .hero-icon {
  box-shadow: 0 0 2px 0 #07FE8D;
  border-radius: 50%;
  display: inline-block;
  height: 150px;
  padding: 00px 30px;
  line-height: 150px;
  width: 150px;
  color: #07FE8D;
}
.loginTitle {
  font-family: Avenir-Book;
  font-size: 8vh;
  line-height: 1em;
  letter-spacing: 2vh;
  padding-left: 3vh;
  color: #FFF;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 0;
  opacity: 0.5;
}
.loginItem {
  margin: 0px;
  border: 0;
}
.signuplink {
  text-align: center;
}
/*.tabs-nav {
  display:none;
}*/

/*.tabs-top > .tabs, .tabs.tabs-top {
  top: 0px;
}
*/

/*
.loginInputContainer {
  display: flex;
  justify-content: center;
  height: 50vh;
  padding: 5px;
}
*/

/* LoginContainer: */

/*
.loginInputBox {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #D8D8D8;
  max-width: 90%;
  width: 50vw;
  height: 26vh;
}
*/

/* Input: */

/*
.loginInputItem {
  display: block;
  background: #FFFFFF;
  font-family: Avenir-Book;
  font-size: 6vh;
  size: 6vh;
  color: #49B6D3;
  height: 6vh;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2vh 2vh;
}
.loginButtonContainer {
  display: flex;
  justify-content: center;
}
*/

/* LoginButton */

/*
.loginButton {
  background: #49B6D3;
  font-family: Avenir-Book;
  font-size: 8vh;
  color: #FFFFFF;
  line-height: 1.25em;
  letter-spacing: 2.5vw;
  padding-left: 5vw;
}
*/

/* Review Page */

/*
.pictureContainer {
  display:flex;
  justify-content: center;
}
*/

/*
.albumPhoto, .inboxPhoto {
  width:300px;
  ;
}
*/

/*
.picturePreview {
  width: 50vw;
  height: 50vh;
  align-self: center;
}
*/

.pane,
.view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.list .item {
  border: none;
  min-height: 48px;
  text-align: left;
  background-color: transparent;
}
.item.item-divider {
  border-top: solid 1px rgba(255, 255, 255, .25);
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  color: white;
  background-color: transparent;
}
.button.button-positive {
  border: 1px solid rgba(255, 255, 255, .5);
  background-color: transparent;
  color: #fff;
  border-radius: 25px;
  font-weight: 200;
}
.card {
  padding-top: 1px;
  padding-bottom: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  margin:0px;
}
div.thumb {
  display: inline-block;
  width: 49vw;
  height: 49vw;
  margin: 0px;
  border: 0px solid #555;
  background-position: center center;
  background-size: cover;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: rgba(255, 255, 255, .2);
  opacity: 1;
}
.button-block.ink,
.button-full.ink,
.button-block:after {
  border: 1px solid rgba(255, 255, 255, .5);
  background-color: transparent;
  color: #fff;
  border-radius: 25px;
  font-weight: 200;
}
.toggle .track {
  background-color: transparent;
}
.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content .item-image {
  position: absolute;
  top: 2px;
  left: 2px;
  max-width: 50vw;
  max-height: 50vw;
  overflow: hidden;
  /* width: 100%; */
  /* height: 100%; */
  border-radius: 0px;
}
.list .photo.item {
  margin-top: 2px;
  text-align: right;
  min-height: 200px;
  padding: 5px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.05);
}
.counter {
  position: absolute;
  color: rgba(255, 255, 255, .5);
  bottom: 2px;
  right: 2px;
}
.photo-description {} label.item.item-input.review {
  padding-left: 0;
  border: none;
}
div {
  border: none;
}
.item.item-image {
  border: none;
}
.button-bar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
  bottom: 0;
  right: 0;
  position: absolute;
  width:100%;
}
.button-bar>.button .icon:before,
.button-bar>.button:before {
  line-height: initial;
  color: white;
}
.float-container {
  position: relative;
}

.spinner {
  margin: 0 auto;
  display: block;
}
.spinner svg {
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  stroke: #3AFEA4;
  fill: #3AFEA4;
