/* Empty. Add your own CSS if you like */

.loginTitle {
  font-family: DINCondensed-Bold;
  font-size: 8vh;
  line-height: 1em;
  letter-spacing: 4vh;
  padding-left: 3vh;
  color: #444;
  text-align: center;
  margin-top:10vh;
  opacity: 0.5;
}

.loginScreen {
  background: -webkit-linear-gradient(white, white, #d5d5d5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, white, #d5d5d5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, white, #d5d5d5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, white, #d5d5d5); /* Standard syntax */
}

.loginItem {
  margin: 0px;
  border: 0;
}

.flex {
  display: flex;
  justify-content: center;
}

.tabs-nav {
  display:none;
}

.tabs-top > .tabs, .tabs.tabs-top {
  top: 0px;
}

/*
.loginInputContainer {
  display: flex;
  justify-content: center;
  height: 50vh;
  padding: 5px;
}
*/
/* LoginContainer: */

/*
.loginInputBox {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #D8D8D8;
  max-width: 90%;
  width: 50vw;
  height: 26vh;
}
*/
/* Input: */

/*
.loginInputItem {
  display: block;
  background: #FFFFFF;
  font-family: Avenir-Book;
  font-size: 6vh;
  size: 6vh;
  color: #49B6D3;
  height: 6vh;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2vh 2vh;
}
.loginButtonContainer {
  display: flex;
  justify-content: center;
}
*/

/* LoginButton */

/*
.loginButton {
  background: #49B6D3;
  font-family: Avenir-Book;
  font-size: 8vh;
  color: #FFFFFF;
  line-height: 1.25em;
  letter-spacing: 2.5vw;
  padding-left: 5vw;
}
*/
/* Review Page */

/*
.pictureContainer {
  display:flex;
  justify-content: center;
}
*/

/*
.albumPhoto, .inboxPhoto {
  width:300px;
  ;
}
*/

/*
.picturePreview {
  width: 50vw;
  height: 50vh;
  align-self: center;
}
*/
