/* Empty. Add your own CSS if you like */

.loginView {
  /*background-image: url('../img/loginBackground.svg');*/
  background-image: url('../img/bg.png');
  background-size: 100% 100%;
}
.loginTitleContainer {
  display: flex;
  justify-content: center;
  height: 20vh;
}
/* Title */

.loginTitle {
  font-family: DINCondensed-Bold;
  font-size: 8vh;
  color: #4B3F32;
  line-height: 1em;
  letter-spacing: 4vh;
  padding-left: 3vh;
  align-self: center;
}
.loginInputContainer {
  display: flex;
  justify-content: center;
  height: 50vh;
  padding: 5px;
}
/* LoginContainer: */

.loginInputBox {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #D8D8D8;
  max-width: 90%;
  width: 50vw;
  height: 26vh;
}
/* Input: */

.loginInputItem {
  display: block;
  background: #FFFFFF;
  font-family: Avenir-Book;
  font-size: 6vh;
  size: 6vh;
  color: #49B6D3;
  height: 6vh;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2vh 2vh;
}
.loginButtonContainer {
  display: flex;
  justify-content: center;
}
/* LoginButton */

.loginButton {
  background: #49B6D3;
  font-family: Avenir-Book;
  font-size: 8vh;
  color: #FFFFFF;
  line-height: 1.25em;
  letter-spacing: 2.5vw;
  padding-left: 5vw;
}
/* Review Page */

/*
.pictureContainer {
  display:flex;
  justify-content: center;
}
*/

.picturePreview {
  width: 50vw;
  height: 50vh;
  align-self: center;
}
