<ion-view view-title="Settings">
  <ion-content class="padding">
    <ion-list>

      <ion-item class="item item-toggle item-divider">
        Enable</br>
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="vm.settings.enabled" ng-change="vm.toggleEnable()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <!-- <ion&#45;item class="item item&#45;toggle item&#45;divider"> -->
      <!--   Trickle</br> -->
      <!--     <label class="toggle toggle&#45;positive"> -->
      <!--       <input type="checkbox" ng&#45;model="vm.settings.trickle" ng&#45;change="vm.setTrickle()"> -->
      <!--     <div class="track"> -->
      <!--       <div class="handle"></div> -->
      <!--     </div> -->
      <!--     </label> -->
      <!-- </ion&#45;item> -->

      <ion-item class="item item-range item-divider no-padding">
        <label class="range range-positive">
          {{vm.settings.radius | number:1}} mi&nbsp&nbsp</br>
          <input type="range" name="radius" ng-model="vm.settings.radius" min="1" step="1" max="50"
          value="{{vm.radius}}">
          <i class="icon ion-ios-world-outline"></i>
        <div class="track">
          <div class="handle"></div>
        </div>
        </label>
      </ion-item>

      <ion-item class="item item-range item-divider no-padding">
        <label class="range range-positive">
          {{vm.settings.TTL | number:1}} min</br>
          <input type="range" ng-model="vm.settings.TTL" min="1" step="1" max="30" ng-init="30"
          value="{{vm.TTL}}">
          <i class="icon ion-ios-stopwatch-outline"></i>
        <div class="track">
          <div class="handle"></div>
        </div>
        </label>
      </ion-item>

      <ion-item class="item-divider">
      </ion-item>
      <ion-item >
        <button class="button button-block button-positive" ng-click="vm.saveSettings()">Save Settings</button>
      </ion-item>
      <ion-item >
        <button class="button button-block button-positive" ng-click="vm.logOut()">Log Out</button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
