<ion-view class="loginView">
  <ion-content class="padding">
    <div class="loginTitleContainer">
      <div class="loginTitle">RIPPLE</div>
    </div>
    <div class="loginInputContainer">
      <div class="loginInputBox">
        <div class="loginInputItem">
          <input type="text" placeholder="Username" ng-model="data.username">
        </div>
        <div class="loginInputItem">
          <input type="email" placeholder="Email" ng-model="data.email">
        </div>
        <div class="loginInputItem">
          <input type="password" placeholder="Password" ng-model="data.password">
        </div>
      </div>
    </div>
    <div class="loginButtonContainer">
      <button class="item button loginButton" ng-click="login()">Login</button>
      <button class="item button loginButton" ng-hide=true ui-sref="signup">Sign Up</button>
    </div>
  </ion-content>
</ion-view>
