<ion-view class="loginView">
  <ion-content class="padding">
    <div class="loginTitleContainer">
      <div class="loginTitle">RIPPLE</div>
    </div>
    <div class="loginInputContainer">
      <div class="loginInputBox">
        <input class="loginInputItem" type="text" placeholder="Username" ng-model="vm.data.username">
        <input class="loginInputItem" type="email" placeholder="Email" ng-model="vm.data.email">
        <input class="loginInputItem" type="password" placeholder="Password" ng-model="vm.data.password">
      </div>
    </div>
    <div class="padding">
      <button ng-if="vm.badCombo"class="button button-outline button-assertive">
        Incorrect username/password combination
      </button>
    </div>
    <div class="loginButtonContainer">
      <button class="item button loginButton" ng-click="vm.login()">Login</button>
      <button class="item button loginButton" ng-hide=false ui-sref="signup">Sign Up</button>
    </div>
  </ion-content>
</ion-view>
