* {
    padding:0;
    margin:0;
}

html{
  font-family: DINCondensed-Bold;
  font-size: 20px;
  color: #B0DCE8;
  line-height: 53px;
  background-image: url('../assets/ripples1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 2px;
}

.viewPort {
    overflow: hidden;
    width: 100%;
    height: 1000px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#dashboard {
  width: 100%;
  height: 100%;
}


.side-content {
  width: 310px;
  float: left;
  position: relative;
  top: 70px;
  left: 5px;
}

.home {
  float: left;
  position: relative;
  width: 310px;
  top: 0;
  left: 0px;
  height: 850px;
  overflow: auto; 
  background: rgba(0,0,0,0.6);
  margin: 0 auto;
}

.search {
  float: left;
  position: relative;
  width: 310px;
  top: 0;
  left: 0px;
  height: 300px;
  overflow: auto; 
  background: rgba(0,0,0,0.6);
  margin: 0 auto;
}

.search-btn {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #fff;
}

.search-btn:hover{
  cursor:pointer;
  color: #B0DCE8;
  background: rgba(72,164,190,0.2);
}

input[type=text] {
  display: block;
  width: 200px;
  height: 40px;
  margin: 5px auto;
  font-size: 20px;
  background: rgba(0,0,0,0.6);
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
}

input:focus, textarea:focus {
    outline: none;
}

.photos {
  overflow: auto; 
  margin: 0 auto;
  width: 300px;
  z-index: 1;
}


.Map {
  float: left;
  height: 650px;
  width: 650px;
  position: relative;
  top: 70px;
  left: 20px;
}

img.photo {
  display: block;
  position: relative;
  width: 300px;
  margin: 5px auto;
  border-radius: 10px;
}

.Chart{
  float: left;
  height: 650px;
  width: 650px;
  position: relative;
  top: 0px;
  left: 0px;
}

.nav-menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background: rgba(66,103,127,0.30);
  border: 2px solid #002539;
}


.nav-bar{
  width: 100%;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,0.6);
}

.nav-link-focused{
  display: inline-block;
  cursor:pointer;
  color: #B0DCE8;
  background: rgba(72,164,190,0.2);
  padding: 0 10px;

}
.nav-link:hover {
  display: inline-block;
  cursor:pointer;
  color: #B0DCE8;
  background: rgba(72,164,190,0.2);
  padding: 0 10px;
}
a.nav-link{
  display: inline-block;
  height: 100%;
  margin: 0 10px;
  cursor:pointer;
  text-decoration: none;
  color: #B0DCE8;
  transition:0.3s;
  padding: 0 10px;

}

a {
  text-decoration: none; 
  color: #B0DCE8;
}

.title {
  float: right;
  margin-right: 20px;
  letter-spacing: 4px
}

.recent-ripples {
  text-align: center;
  line-height: 40px;
}

.photo-holder {
  float: left;
  width: 310px;
  position: relative;
  top: 70px;
  left: 35px;
  background: rgba(0,0,0,0.6);
  /*border: 1px solid #41637E;*/
}
.content {
  width: 1300px;
  position: relative;
  top: 10px;
  margin: 0 auto;
}
