<ion-view view-title="Inbox">
  <ion-content class="no-padding">
    <ion-list class="condensed-space no-padding" can-swipe="true">
      <ion-item ng-repeat="photo in vm.inbox">
        <div class="card">
          <div class="row ripplecard">
            <div class="col ripplecard">
              <div class="thumb" style="background-image: url({{photo.url}})" ng-click="vm.openModal(photo)"></div>
            </div>
            <div class="col ripplecard">
              <p class="ripple-font">{{photo.caption}}</p>
              <div class="row ripplecardinfo">
                <p class="ripple-font">{{photo.timeRemaining | date : "m:ss"}}</p>
              </div>
              <div class="ripplecardbuttons">
                <i class="ion-ios-trash-outline" ng-click="vm.deleteFromInbox(photo)"></i>
                <i class="ion-ios-book-outline" ng-click="vm.saveToAlbum(photo)"></i>
                <i class="ion-ios-world-outline" ng-click="vm.reBroadCast(photo)" ng-disabled="vm.isDisabled[photo.photoId]"></i>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-refresher on-refresh="vm.refresh()"></ion-refresher>
  </ion-content>
    <div class="emptyInbox" ng-hide="vm.inbox.length">You have no new Ripples</div>
</ion-view>
