<ion-view view-title="Inbox">
  <ion-content class="no-padding">
    <ion-list class="condensed-space no-padding" can-swipe="true">
      <ion-item ng-repeat="photo in vm.inbox">
        <div class="card">
          <div class="row ripplecard">
            <div class="col ripplecard">
              <div class="thumb" style="background-image: url({{photo.url}})"></div>
            </div>
            <div class="col ripplecard">
                <p>{{photo.caption}}</p>
              <div class="row ripplecardinfo">
                <p>Ripple ID: {{photo.photoId}}</p>
                <p>{{photo.timeRemaining | date : "m:ss"}}</p>
              </div>
              <div class="ripplecardinfobuttons">
                <button class="button button-clear flat icon ion-ios-trash-outline" ng-click="vm.deleteFromInbox(photo)"></button>
                <button class="button button-clear flat icon ion-ios-book-outline" ng-click="vm.saveToAlbum(photo)"></button>
                <button class="button button-clear flat icon ion-ios-world-outline" ng-click="vm.reBroadCast(photo)"></button>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-refresher on-refresh="vm.refresh()"></ion-refresher>
  </ion-content>
  <div class='emptyInbox' ng-hide="vm.inbox.length">You have no new Ripples</div>
</ion-view>
