<ion-view view-title="BroadCast">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="vm.goBack()">
      <i class="ion-ios-arrow-left"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="vm.goInbox()">
      <i class="ion-ios-email-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <ion-list>

      <ion-item class="item item-toggle item-divider">
        Trickle</br>
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="vm.settings.trickle" ng-change="vm.setTrickle()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item item-range item-divider no-padding">
        <label class="range range-positive">
          {{vm.settings.radius | number:1}} mi&nbsp&nbsp</br>
          <input type="range" name="radius" ng-model="vm.settings.radius" min="0.1" step="0.1"
          max="5" value="{{vm.radius}}">
          <i class="icon ion-ios-world-outline"></i>
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      

      <ion-item class="item item-range item-divider no-padding">
        <label class="range range-positive">
          {{vm.settings.TTL | number:1}} min</br>
          <input type="range" ng-model="vm.settings.TTL" min="0.5" step="0.5" max="5" ng-init="5"
          value="{{vm.TTL}}">
          <i class="icon ion-ios-stopwatch-outline"></i>
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>

      <ion-item class="item-divider">
      </ion-item>
      <ion-item>
        <button class="button button-block button-positive" ng-click="vm.sharePhoto()">BroadCast</button>
      </ion-item>
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
      </div>  

    </ion-list>

  </ion-content>
  <div class="col">
    <ion-spinner ng-show="vm.spinner" class="spinner" icon="ripple"></ion-spinner>
  </div>
</ion-view>
