<ion-view view-title="Album">
  <button id="ripple-fab" class="button button-fab button-balanced icon ion-ios-camera" ng-click="vm.takePhoto()"></button>
  <ion-content class="no-padding">
    <ion-list class="condensed-space no-padding" can-swipe="true">
      <ion-item collection-repeat="photo in vm.album track by $index" item-width="100%" item-height="vm.getItemHeight()">
        <div class="card">
          <div class="row ripplecard">
            <div class="col ripplecard">
              <div class="thumb" style="background-image: url({{photo.thumb}})" ng-click="vm.openModal(photo)"></div>
            </div>
            <div class="col ripplecard">
                <p class="ripple-font">{{photo.caption}}</p>
              <div class="ripplecardbuttons">
                <button class="ripplecardbuttons ion-ios-trash-outline" ng-click="vm.deleteFromAlbum(photo)"></i>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
